section{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
section h1{
    color: white;
    text-align: center;
}
Canvas{
    background-color: #000000;
    width: 100vw;
    height: 80vh;
    background-attachment:fixed;
}
.exerciseOneLink{
    color: white;
    width: 26vh;
    cursor: pointer;
    user-select: none;
}

/* Scroll animation */
