.App {
  text-align: center;
}

.App-header {
  background-color: rgb(43, 43, 43);  
  width: 100vw;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 0,8vmin);
}

h1{
  color: white;
}


.App-logo {
  height: 8vmin;
  pointer-events: none;
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------- Responsive ------- */

@media only screen and (min-width: 480px) and (max-width: 1223px) {

  .App-header{
    display: flex;
    flex-direction: column;
  }
  .App-logo{
    margin-bottom: 3vh;
  }

}

@media only screen and (min-width: 1224px) { 

  h1{
    margin-left: 3%;
  }
  .App-header{
    justify-content: space-around;
  }

}
